header {
  height: 400px;
  width: 100%; }
  header h1 {
    position: relative;
    top: 200px;
    margin: 0px;
    transform: translateY(-50%); }

.topics {
  grid-template-columns: 1fr 15px [main-begin] 920px [main-end] 15px 1fr; }
  .topics > p {
    grid-column: 3/4;
    width: 500px;
    margin-bottom: 94px;
    font-size: 16px;
    line-height: 1.8em; }
  .topics > h2 {
    font-weight: 600;
    grid-column: 3/4;
    font-size: 32px;
    margin-bottom: 0px; }

.topic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column: 2/5; }

.topic {
  text-decoration: none;
  width: calc((100% - 15px * 6) / 3);
  height: 309px;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #F8F8F8;
  padding: 5px 35px;
  margin: 15px; }
  .topic > img {
    height: 47px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 12px;
    margin: 29px 0px; }
  .topic > h2 {
    margin-top: 0px;
    margin-bottom: -7px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4em; }
  .topic > p {
    font-size: 15px;
    line-height: 1.5em;
    font-weight: normal; }

.course-header {
  height: 200px;
  width: 100%; }

main > h2 {
  grid-column: 2/3;
  width: 100%; }

.sections {
  grid-template-columns: 1fr [ex-begin] 300px [ex-end] 90px [list-begin] 480px [list-end] 1fr; }
  .sections .ex {
    grid-column: ex-begin/ex-end;
    position: relative; }
    .sections .ex::after {
      content: '';
      display: block;
      height: 100%;
      border-radius: 1px;
      width: 2px;
      background-color: #efefef;
      position: absolute;
      top: 0px;
      right: -20px;
      transform: translate(-11px, 0px); }
    .sections .ex > img {
      background-color: #fbfbfb;
      border-radius: 15px;
      margin-bottom: 15px;
      width: 80px;
      overflow: hidden; }
    .sections .ex > h2 {
      margin-top: 0px;
      font-size: 29px;
      font-weight: 600;
      margin-bottom: 10px; }
    .sections .ex > p {
      font-size: 15px;
      line-height: 1.6em; }
    .sections .ex > h3 {
      font-weight: 600;
      text-transform: uppercase;
      color: #c1c1c1;
      margin-top: 44px;
      margin-bottom: 20px;
      font-size: 13px;
      letter-spacing: 5px; }
    .sections .ex > p {
      font-weight: 400;
      color: #636363;
      margin: -4px 0px;
      font-size: 16px; }
      .sections .ex > p > span {
        height: 8px;
        border-radius: 4px;
        width: 8px;
        background-color: #e2e2e2;
        margin: 2px;
        margin-right: 14px;
        display: inline-block; }
    .sections .ex > span {
      display: block;
      height: 2px;
      border-radius: 1px;
      width: 20px;
      background-color: #efefef;
      margin: 10px;
      transform: translate(-14px, 0px) rotate(-90deg); }
    .sections .ex > span:last-of-type {
      display: none; }
  .sections .section-container {
    grid-column: list-begin/list-end;
    grid-row: 1/2;
    display: flex;
    flex-direction: column; }
    .sections .section-container h4 {
      margin-top: 100px;
      margin-bottom: 30px;
      font-size: 30px; }
    .sections .section-container .section {
      display: grid;
      grid-template-columns: 77px 1fr;
      grid-template-rows: 51px auto;
      grid-template-areas: "image title" "line desc";
      text-decoration: none;
      padding: 15px;
      border-radius: 10px; }
      .sections .section-container .section:hover {
        background-color: #f3f3f7; }
      .sections .section-container .section > img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: #ececec;
        grid-area: image;
        justify-self: left;
        align-self: center; }
      .sections .section-container .section:after {
        content: '';
        position: relative;
        width: 3px;
        border-radius: 1.5px;
        height: 100%;
        background-color: #e8e8e8;
        grid-area: line;
        justify-self: left;
        margin: 16px 23px; }
      .sections .section-container .section:after::last-of-type {
        display: none; }
      .sections .section-container .section > h3 {
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        grid-area: title;
        align-self: center; }
      .sections .section-container .section > p {
        font-weight: normal;
        grid-area: desc;
        font-size: 15px;
        color: #757575;
        line-height: 1.7em;
        margin-top: 4px;
        margin-bottom: 15px; }
    .sections .section-container > span {
      display: block;
      grid-row: 1/2;
      grid-column: 4 / 5;
      height: 1px;
      background-color: #e6e6e6;
      opacity: 0; }
