header {
  height: 400px;
  width: 100%; }

.topics {
  grid-column: main-begin/two-end;
  grid-template-columns: inherit; }
  .topics > p {
    grid-column: main-begin/two-end;
    width: 500px;
    margin-bottom: 94px;
    font-size: 20px;
    line-height: 1.8em; }
  .topics > h2 {
    font-weight: 600;
    grid-column: main-begin/two-end;
    font-size: 32px;
    margin-bottom: 0px; }

.topic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column: main-begin/main-end; }

.topic:hover {
  box-shadow: 0px 12px 60px 0px #121a3124; }

.topic {
  text-decoration: none;
  width: 270px;
  height: 309px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #F8F8F8;
  padding: 5px 35px;
  margin: 0px 15px;
  box-shadow: 0px 12px 60px 0px #121a3100; }
  .topic > img {
    height: 50px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 23%;
    margin-top: 38px; }
  .topic > h2 {
    margin-top: 24px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6em; }
  .topic > p {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: normal; }

.course-header {
  height: 100px;
  width: 100%; }

main > h2 {
  grid-column: 2/3;
  width: 100%; }

.sections {
  grid-template-columns: 1fr [ex-begin] 300px [ex-end] 90px [list-begin] 480px [list-end] 1fr; }
  .sections .directory {
    display: grid;
    grid-column: ex-begin/line-end;
    width: 100%;
    margin-bottom: 100px; }
    .sections .directory h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      color: #BEBEBE; }
  .sections .ex {
    grid-column: ex-begin/ex-end;
    position: relative; }
    .sections .ex::after {
      content: '';
      display: block;
      height: 100%;
      border-radius: 1px;
      width: 2px;
      background-color: #efefef;
      position: absolute;
      top: 0px;
      right: -20px;
      transform: translate(-11px, 0px); }
    .sections .ex > img {
      background-color: #fbfbfb;
      border-radius: 23%;
      margin-bottom: 20px;
      width: 80px;
      overflow: hidden; }
    .sections .ex > h2 {
      margin-top: 0px;
      font-size: 29px;
      font-weight: 600;
      margin-bottom: 10px; }
    .sections .ex > h3 {
      font-weight: 600;
      text-transform: uppercase;
      color: #c1c1c1;
      margin-top: 44px;
      margin-bottom: 20px;
      font-size: 13px;
      letter-spacing: 5px; }
    .sections .ex > p {
      font-weight: 400;
      color: #636363;
      margin: -4px 0px;
      font-size: 16px;
      line-height: 1.8em;
      width: 80%; }
      .sections .ex > p > span {
        height: 8px;
        border-radius: 4px;
        width: 8px;
        background-color: #e2e2e2;
        margin: 2px;
        margin-right: 14px;
        display: inline-block; }
    .sections .ex > span {
      display: block;
      height: 2px;
      border-radius: 1px;
      width: 20px;
      background-color: #efefef;
      margin: 10px;
      transform: translate(-14px, 0px) rotate(-90deg); }
    .sections .ex > span:last-of-type {
      display: none; }
  .sections .section-container {
    grid-column: list-begin/list-end;
    grid-row: 2/3;
    display: flex;
    flex-direction: column; }
    .sections .section-container .vertical-line {
      content: '';
      position: relative;
      width: 3px;
      border-radius: 1.5px;
      height: 100%;
      background-color: #e8e8e8;
      grid-area: line;
      justify-self: left;
      margin: 16px 23px; }
    .sections .section-container .section:last-of-type .vertical-line {
      display: none; }
    .sections .section-container > h3 {
      font-weight: 100;
      text-transform: uppercase;
      color: #c1c1c1;
      margin-top: 54px;
      margin-bottom: 20px;
      margin-left: 22px;
      font-size: 13px;
      letter-spacing: 5px; }
    .sections .section-container h4 {
      margin-top: 100px;
      margin-bottom: 30px;
      font-size: 30px; }
    .sections .section-container .section {
      display: grid;
      grid-template-columns: 77px 1fr;
      grid-template-rows: 51px auto;
      grid-template-areas: "image title" "line desc";
      text-decoration: none;
      padding: 15px;
      border-radius: 10px; }
      .sections .section-container .section:hover {
        background-color: #f3f3f7; }
      .sections .section-container .section > img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: #ececec;
        grid-area: image;
        justify-self: left;
        align-self: center; }
      .sections .section-container .section > h3 {
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        grid-area: title;
        align-self: center; }
      .sections .section-container .section > p {
        font-weight: normal;
        grid-area: desc;
        font-size: 15px;
        color: #757575;
        line-height: 1.7em;
        margin-top: -5px;
        margin-bottom: 15px; }
    .sections .section-container > span {
      display: block;
      grid-row: 1/2;
      grid-column: 4 / 5;
      height: 1px;
      background-color: #e6e6e6;
      opacity: 0; }
