---
layout: boilerplate.njk
---

{# Macros #}

{% macro topic(order = 1, img = "https://via.placeholder.com/150", title="", href="", desc="") %} 

    <a style="order: {{ order }}" href={{ href }} class="topic">
       
        <img src="/assets/img/courses/{{ img }}.svg">
        <h2>{{ title }}</h2>
        <p> {{ desc }} </p>

    </a>
    
{% endmacro %}

{# Main content #}

<header>
    <h1>Courses</h1> 
</header>

<link rel="stylesheet" href="/css/courses.css">

<main class="topics">
<h2>Training Wheel Protocol</h2>
<p>Introductory series for those with little or no background in Computer Science. 
Consists of 11 sets of courses to kickstart your journey as a developer.  </p>
<div class="topic-container"> 
    {% for post in collections.training_wheel_protocol %}
        {{ topic(post.data.order, post.data.course_id, post.data.course_title, post.url, post.data.course_desc )  }}
    {% endfor %}
    {% for post in collections.electric_scooter %}
        {{ topic(post.data.order, post.data.course_id, post.data.course_title, post.url, post.data.course_desc )  }}
    {% endfor %}
</div>  

{# <h2>Electric Scooter</h2>
<p>Now that you have a general understanding of the software and languages we use, it is time to 
dive deeper and tackle more challenging topics. Strap off your training wheels, 
and get ready for some interesting web development. </p>
<div class="topic-container"> 
    {% for post in collections.electric_scooter %}
        {{ topic(post.data.order, post.data.course_id, post.data.course_title, post.url, post.data.course_desc )  }}
    {% endfor %}
    
</div>   #}


  </div>  
</main>  

{% import "_includes/macro.njk" as m %}
{{ m.footer() }}