---
layout: course_desc.njk
tags: electric_scooter
course_title: Configuration Pt. 2
course_id: 1-1
course_desc: Diving further into 11ty, and more generally npm and the various libraries available for it. 
order: 5
---






