---
layout: course_desc.njk
tags: training_wheel_protocol
course_title: Introduction
course_id: 0-0
course_desc: Introduction to basic Computer Science topics, with emphasis on computer networking and computer hardware. 
order: 1
---

