---
layout: course_desc.njk
tags: ux
course_title: Optimizing
course_id: optimizing
course_desc: We revisit topics in the previous section, and explore more advanced applications of them.
order: 2
---

