---
layout: course_desc.njk
tags: training_wheel_protocol
course_title: Configuring 
course_id: 0-2
course_desc: Series of prompts to help you set up the coding enviornment for your first project.
order: 3
---

